
.logo{
 height: 180px;
 width: 100%;
 
 background: url("../images/covid-19-3.jpeg") no-repeat center center; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
/* align content, display in the middle*/
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 overflow:fill;
}

/*--------------------------------------------------------- Nav */

.container-fluid .x{
    height: 180px;
}
.navbar-menu{
    color: rgba(199, 196, 196, 0.7);
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px #cfcdcd;
    border-color:none;
    border: 0;
    margin-bottom: 6px;
    border-radius: 10%;
}
.navbar-nav .navbar-item{
width: 25%;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(56, 55, 55, 0.5);
    background: rgba(204, 203, 203, 0.5);    
    box-shadow: 3px 25px 46px 16px rgba(248, 246, 246, 0.78); 
    border-color:none;
    border: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    border-radius: 10%;
}
.navbar-toggler-icon {
background-color: rgba(0,0,0,0.5);
border-radius: 15%;
}

.nav-bar-big{
    height: 180px;
  
    width: 100%;
}
.big .nav-big-link{
    border-radius: 15%;
    color: #837c7c;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 2px 2px 8px #cfcdcd;
    border-color:none;
    border: 0;
    margin-bottom: 6px;
}
.big .link{
    padding-top: 180px;
}
.nav-big-link:hover,
.nav-big-link:active,
.nav-big-link:focus,
.nav-big-link:active:focus{
    box-shadow: 2px 2px 4px #d4c4c4;
    border-color:none;
    border: 0;
    color: rgb(221, 126, 126);
    background-color: rgba(219, 207, 205, 0.7);
    text-decoration: none;
}


   /*--------------------------------------------------------- container */

.logo-main{
 height: 100vh;
 width: 100%;
 margin: 0px;
 background: url("../images/cod-map.png") no-repeat center center; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 object-fit: fill;
/* align content, display in the middle*/
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
}
.container-fluid{
    margin: 0;
    padding: 0;
    border: 0;
    padding-bottom:0;
}
.container-main{
    margin-top: 20px;
    
}
.main-info{
    display: block;
}

.main-header{
    text-align: center;
    justify-content: center;
    z-index: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    letter-spacing: 6px;
    padding-top: 10px;
}
.virus{
    letter-spacing: 20px;
}
.col-sm-4{
    margin: 30px 0;
    text-align: right;
    font-weight: 300;
    font-family: "Ex"
}
.col-md-4{
    margin: 60px 0;
    text-align: right;
    font-weight: 300;
    font-family: "Ex"
}
.col-12{
    margin: 0;
    padding: 0;
    border:0;
    text-align: center;
    font-weight: 300;
    font-family: "Ex"
}
.row{
    margin: 0;
    padding: 0;
    border: 0;
}
.justify-content-start .col-md-4{
    text-align: left;
    margin-top: 60px;
    padding-left: 90px;
}
.justify-content-start .sec-col{
    text-align: right;
    padding-top: 10px;
}
.justify-content-start .first-col{
    padding-top: 10px;
}
.justify-content-between .col-md-4{
    text-align: left; 
    padding-left: 60px;
}
.justify-content-between .first-col{
    text-align: right;
    padding-right: 90px;
}
.justify-content-end .col-md-4{
    text-align: left;
    
}
.justify-content-end .sec-col{
    text-align: right;
    padding-right: 180px;
}
.justify-content-center .col-md-4{
    text-align: right;
}
.justify-content-center .sec-col{
    text-align: right;
    padding-right: 45px;
}
.spinner-grow {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow 1s linear infinite;
    animation: spinner-grow 1s linear infinite;
    margin-right:3px;
}
.btn-info{
    border-radius: 35%;
    color: #837c7c;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 2px 2px 8px #cfcdcd;
    border-color:none;
    border: 0;
    margin-bottom: 6px;
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:focus{
    box-shadow: 2px 2px 4px #d4c4c4;
    border-color:none;
    border: 0;
    color: rgb(221, 126, 126);
    background-color: rgba(219, 207, 205, 0.7);
}
.sm-container{
    width: 70%;
    margin: 0 auto;
    
}
/*--------------------------------------------------------- footer */
#footer{
    margin: 0;
    border: 0;
    padding: 0;
      position: absolute;
    bottom: 0;
    height: 10px;
    width: 100%;
}
.logo-footer{
    background: url("../images/footer.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    background-color: rgba(251, 251, 251, 0.9);
    margin:0;
    border: 0;
    padding: 0;
    
}
.footer-color{
    background-color: rgba(251, 251, 251, 0.72);
    height: 30px;
    margin:0;
    border: 0;
    padding: 0;
}
p{
    margin-bottom: 0;
}


